body {
  background-color: #283149;
}

.title {
  background-color: #FCA205;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  text-align: center;
  font-family: 'Lobster';
  color: #ffffff;
  font-size: 5rem;
}

.main_reg_fields {
  width: 95vw;
  height: 4rem;
  margin: 0rem auto 0rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dbedf3;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #dbedf3;
  box-shadow: 0.2em 0.2em 0.3em 0.2em #4592af;
}

.main_reg_fields span, .campo_de_lista span {
  width: 10.5vw;
  padding-left: 1rem;
}

.main_reg_fields .span_avatar {
  padding-left: 0rem;
  text-align: center;
}

.unordered_list {
  width: 95vw;
  margin: 0rem auto 0rem auto;
  padding: 0rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.campo_de_lista, .campo_de_lista_rol, .submit, .error_message, .return_to_user_list {
  width: 95vw;
  margin: 0rem auto 0rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
  border-bottom-right-radius: 1rem;
  border-bottom: 1px solid #dbedf3;
}

.campo_de_lista_rol {
  width: 15vw;
  text-align: start;
}

.campo_de_lista a {
  text-decoration: none;
}

.campo_de_lista h4 {
  text-align: start;
  font-family: 'Satisfy';
  font-size: 2rem;
  color: #FCA205;
}

.campo_de_lista h5 {
  text-align: start;
  font-family: 'Medula One';
  font-size: 2rem;
  color: #ffffff;
}

.campo_de_lista img {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  height: 3rem;
}

.rol_type {
  width: 100%;
  height: 3rem;
  font-family: 'Satisfy';
  font-size: 3rem;
  color: #FCA205;
}

.submit, .error_message, .return_to_user_list {
  width: 15vw;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color:#ffffff;
  cursor: pointer;
  border-top-left-radius: 1rem;
  border-top: 1px solid #dbedf3;
  justify-content: center;
}

.submit input {
  background: none;
  border: none;
}

.error_message {
  width: fit-content;
  background-color: yellow;
  padding: 0rem 2rem;
  border: 2px solid red;
  color: red;
}

.return_to_user_list, .return_to_user_list a {
  width: fit-content;
  padding: 0rem 2rem;
  text-decoration: none;
  color:#ffffff;
}
